:root{
    --primary-color:#2E14D9;
    --secondary-color:#5941f2;
    --third-color:#7f6df2;
    --different-color:#bf9663;
    --background-color:#f2f2f2;
    --another-color:rgb(204, 201, 201);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}
.checkbox{
    display: none;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 130px;
    top: 0; 
    z-index: 10;
    background: linear-gradient(180deg, rgba(46,20,217,1) 0%, rgba(127,109,242,1) 50%, rgba(242,242,242,1) 100%);
}
.header-container{
    display: flex;
    width: 90%;
    align-items: center;
    margin: 1rem auto;
}
.header__name{
    margin: 10px;
    font-size: 2.4rem;
    color: var(--background-color);
}
.btn-label{
    width: 2rem;
    height: 1.4rem;
    position: fixed;
    right: 20px;
    top: 65px;
    z-index: 9999;
}
.header-button{
    width: 2rem;
    height: 0.2rem;
    background: var(--different-color);
    position: absolute;
    right: 10px;
    transition: all 0.2s;
}
.header-button::before,
.header-button::after{
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: var(--different-color);
    position: absolute;
    top: -0.6rem;
    transition: all 0.2s;
}
.header-button::after{
    top: 0.6rem;
}
.menu{
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: 40%;
    z-index: 9;
    position: fixed;
    top: -20rem;
    right: 0px;
    border-bottom-left-radius: 200px;
    background-color: var(--third-color);
    transition: all 0.5s;
}
.menu__var{
    list-style: none;
    margin-top: 15px;
}
.menu__var__item{
    padding: 5px;
    text-decoration: none;
    font-size: 1.6rem;
}
.menu__var__item a{
    text-decoration: none;
    color: var(--background-color);

}
.menu__var__item a:active{
    font-weight: bold;
    text-decoration: underline var(--different-color);
}
.checkbox:checked ~ .menu{
    background: var(--secondary-color);
    top: 0rem;
}
.checkbox:checked + header .header-container label .header-button{
    background: none;
}
.checkbox:checked + header .header-container label .header-button::before {
    transform: rotate(35deg);
    top: 0;
  }
.checkbox:checked + header .header-container label .header-button::after {
    transform: rotate(-35deg);
    top: 0;
  }
main{
    width: 100%;
    height: auto;
}
.main__title{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    font-size: 2.2rem;
}
.main__text{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
}
.main__icon{
    width: 120px;
    height: 120px;
    margin: 15px auto;
    background-image: url(./icons/iconFTC.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.about{
    width: 100%;
    height: min-content;
    background: rgb(46,20,217);
    background: linear-gradient(0deg, rgba(46,20,217,1) 0%, rgba(127,109,242,1) 100%);
}
.about__title{
    margin: 20px 20px;
    padding-top: 30px;
    font-size: 2.2rem;
    text-align: center;
    color: var(--background-color);
}
.about__text{
    margin: 0px 20px;
    padding-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
    color:var(--background-color);
}
.about p:nth-child(3){
    padding-bottom: 50px;
}
.projects{
    width: 100%;

}
.projects__title{
    margin: 20px 20px;
    padding-top: 20px;
    font-size: 2.2rem;
    text-align: center;
}
.card{
    width: 80%;
    max-width: 330px;
    margin: 0  auto 20px;
    background-color:var(--another-color);
    border-radius: 20px;
}
.card__title{
    padding: 14px 14px 0    ;
    font-size: 1.8rem;
    text-align: center;
}
.card__icon{
    width: 40%;
    height: 100px;
    margin: 0 auto;
    background-image: url("./icons/batata.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.card__text{
    font-size: 1.4rem;
    text-align: center;
    padding: 14px;
}
footer{
    width: 100%;
    min-height:auto;
    background-color: var(--primary-color) ;
}
.footer__text{
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
    color: var(--background-color);
}
.footer-icon-container{
    display: flex;
    justify-content: center;
}
.footer__icon{
    width: 60px;
    height: 60px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    background-image: url("./icons/github.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer__icon--linkedin{
    background-image: url("./icons/linkedin.png");
    }
.footer__icon--gmail{
    background-image: url("./icons/gmail.png");
}
.footer__firma{
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
    color: var(--background-color);
}

