---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout
	title="Portfolio de Felipe Toro - Desarrollador y Programador Web FullStack, Frontend y Backend"
	description=""
>
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1
				class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10"
			>
				¡Hola!, soy Felipe <a
					href="https://www.linkedin.com/in/felipe-toro-castilla/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge> Disponible para trabajar </Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">Desarrollador web</h2>
			<ul></ul>
		</section>
	</main>
</Layout>
