---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Section from "../components/Section.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Github from "../components/icons/Github.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
---

<Layout
	title="Portfolio de Felipe Toro - Desarrollador y Programador Web FullStack, Frontend y Backend"
	description="Portafolio de Felipe Toro (pipetoroc) desarrollador web Fullstack(backend, frontend) en el podras encontrar su información de contacto y sus principales proyectos"
>
	<main>
		<Section class="py-44 pb-20">
			<h1
				class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-10"
			>
				¡Hola!, soy Felipe <a
					href="https://www.linkedin.com/in/felipe-toro-castilla/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge> Disponible para trabajar </Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">
				Desarrollador web, Lorem ipsum dolor sit amet consectetur
				adipisicing elit. Vel voluptate obcaecati minima, sed fugit eius
				dolor voluptas eum id unde culpa, labore quo, iste harum dolorem
				quos dignissimos suscipit deleniti.12
			</h2>
			<ul class="flex flex-row gap-x-4 mt-8">
				<li>
					<SocialMedia
						href="https://www.linkein.com/in/felipe-toro-castilla/"
					>
						<Linkedin class="size-6" />
						Linkedin
					</SocialMedia>
				</li>
				<li>
					<SocialMedia href="https://www.github.com/pipetoroc">
						<Github class="size-6" />
						Github
					</SocialMedia>
				</li>
				<li>
					<SocialMedia href="https://www.github.com/pipetoroc">
						<Mail class="size-6" />
						ftorocastilla@gmail.com
					</SocialMedia>
				</li>
			</ul>
		</Section>

		<Section class="mb-20">
			<h2 class="text-2xl font-semibold mb-6">Experiencia Laboral</h2>
			<Experience />
		</Section>
	</main>
</Layout>
