:root {
  --primary-color: #80deea;
  --p-light: #b4ffff;
  --p-dark: #4bacb8;
  --secondary-color: #d81b60;
  --s-light: #ffbcd0;
  --s-dark: #a00037;
  --background: #f4f4f4;
  --text-p: #000000;
  --text-l: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--background);
  font-family: "Montserrat", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 100vh;
}
.header__figure {
  width: 80%;
  min-width: 300px;
  height: 500px;
}
.figure__logo {
  width: 100%;
  height: 100%;
  background-image: url("https://drive.google.com/uc?id=1-aJYyoXcTNr6Zp2EPSqKZwUPqeTmEr8A");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  animation: scale-up-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
.header__h2 {
  display: block;
  width: 23ch;
  margin-bottom: 100px;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  font-size: 2.2rem;
  animation: typing 2s steps(23), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
span {
  color: var(--secondary-color);
}
.primary-button {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 12px 14px;
  background-color: var(--background);
  color: var(--s-dark);
  border: 1px solid var(--s-dark);
  cursor: pointer;
  position: relative;
}
.primary-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 110%;
  height: 110%;
  background: linear-gradient(
    45deg,
    var(--p-dark),
    var(--s-dark),
    var(--p-dark),
    var(--s-dark),
    var(--p-dark),
    var(--s-dark),
    var(--p-dark),
    var(--s-dark)
  );
  background-size: 1000%;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.primary-button:hover {
  background-color: var(--secondary-color);
  color: var(--text-l);
}

/* Home */

/* Nav-Bar */

.main__nav-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--text-p);
  z-index: 1;
  background-color: var(--background);
}
.nav-bar__logo {
  width: 60px;
  height: 60px;
  background-image: url("../assets/pipeToroC.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.nav-bar__menu{
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 3rem;
  border: 0;
  background: transparent;
  gap: 0.65rem;
}
.itemOpen1{
  transform: rotate(45deg);
}
.itemOpen2{
  opacity: 0;
}
.itemOpen3{
  transform: rotate(-45deg);
}
.menu__item{
  background-color: black;
  height: 2px;
  width: 100%;
  border-radius: 5px;
  transition: all .5s ;
  transform-origin: left;
  z-index: 1;
}
.nav-bar__list{
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 56px 14px 14px;
  background-color: var(--background);
  border-radius: 8px;
  border: 1px solid black;
}

.list__item {
  margin: 0 20px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-p);
}
.nav-bar__list a{
  text-decoration: none;
  /* cursor: pointer; */
}
.list__item:hover {
  border-bottom: 3px solid var(--s-dark);
  line-height: 25px;
  color: var(--s-dark);
}
.inactive {
  display: none;
}

/* About Me */

.about-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin:0px 16px;
  padding-top: 128px;
  gap: 24px;
}
.active {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.about-me__figure {
  min-width: 300px;
  max-width: 500px;
  margin-bottom: 20px;
}
.figure__img {
  width: 100%;
  border-radius: 14px;
}
.about-me__text {
  width: 100%;
  max-width: 700px;
}
.text__title {
  padding-bottom: 16px;
  font-size: 3rem;
  text-align: center;
  border-bottom: 1px solid var(--text-p);

}
.text__title::after{
  content: "Felipe Toro C";
  color: var(--secondary-color);
  font-size: 3.5rem;
}
.text__p::before{
  content: "Front-End Developer ";
  font-size: 3.5rem;
}
.text__p {
  margin: 40px 0;
  font-size: 2rem;
  text-align: justify;
}
.text__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.title__section {
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: var(--p-dark);
}
.icons__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--s-dark);
}
.icons__container i {
  font-size: 10rem;
  margin-bottom: 10px;
  color: var(--text-p);
}

.projects {
  display: flex;
  justify-content: center;
  margin: 80px 16px 0 16px;
  flex-wrap: wrap;
  gap: 24px;
}
.projects__title {
  width: 100%;
  font-size: 5rem;
  color: var(--text-p);
  margin-bottom: 20px;
}

/* Projects */
.projects__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 24px 0px;
  border: 1px solid var(--s-dark);
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.36, 0.03, 0, 0.91);
}
.projects__card:hover {
  box-shadow: 7px 10px 17px 1px rgba(18, 15, 15, 0.42);
}
.card__img {
  width: 100%;
}
.card__title-container h4 {
  width: 100%;
  margin: 14px 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
}
.card-hover{
  background-color:var(--text-l);
  width: 100%;
  padding-bottom: 14px;
  text-align: center;
  color: var(--text-p);
}
.card-hover i {
  font-size: 5rem;
  margin: 0 14px;
}
/* .card__title-container {
  padding-bottom: 14px;
  background-color: var(--text-l);
  width: 100%;
} */
#react {
  color: rgb(82, 176, 206);
}
#javascript {
  color: rgb(247, 224, 29);
}
#css {
  color: rgb(0, 94, 229);
}
#html {
  color: rgb(228, 77, 37);
}
i{
  color: var(--text-p);
}
/* Contact-me */
.contact-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 80px 0;
}
.contact-me i {
  font-size: 5rem;
  margin-bottom: 10px;
}
