---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Agosto 2023",
        title: "Practicante de pre-ventas",
        description:
            "Desarrollador web, Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptate obcaecati minima, sed fugit eius dolor voluptas eum id unde culpa, labore quo, iste harum dolorem quos dignissimos suscipit deleniti.12",
        link: "",
        company: "Convergint",
    },
    {
        date: "Agosto 2023",
        title: "Practicante de pre-ventas",
        description:
            "Desarrollador web, Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel voluptate obcaecati minima, sed fugit eius dolor voluptas eum id unde culpa, labore quo, iste harum dolorem quos dignissimos suscipit deleniti.12",
        link: "https:www.linkedin.com/in/felipe-toro-castilla/",
        company: "Beecrowd",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experiencie) => (
            <li class="">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
