---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Agosto 2023 - Momento Presente",
        title: "Estagiário de pré-vendas",
        description:
            "Desenvolvo e desenho soluções de segurança eletrônica personalizadas, alinhando as necessidades dos clientes a requisitos técnicos. Elaboro propostas técnico-comerciais detalhadas em Word e Excel, incluindo orçamentos precisos e competitivos para equipamentos e serviços.",
        link: "",
        company: "Convergint",
    },
    {
        date: "Julho 2022 - Junho 2023",
        title: "Analista desenvolvedor",
        description:
            "Traduzi problemas de programação do inglês para o espanhol e português e inclui na plataforma BeeCrowd com HTML semântico, ampliando o banco de dados e aumentando o engajamento dos desenvolvedores.",
        link: "",
        company: "Beecrowd",
    },
    {
        date: "Março 2015 - Novembro 2021",
        title: "Consultor Técnico-Comercial ",
        description:
            "Desenvolvi produtos químicos para construção, garantindo qualidade e conformidade com normas internacionais. Produzi documentação técnica precisa, realizei treinamentos e palestras, e aumentei a fidelização de clientes em 30% com ações que fortaleceram a confiança na marca.",
        link: "",
        company: "Toxement",
    },
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experiencie) => (
            <li class="">
                <ExperienceItem {...experiencie} />
            </li>
        ))
    }
</ol>
