<header
    class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto px-4"
>
    <img
        class="rounded-full size-12"
        alt="Logo de Felipe"
        src="logo-unamed__white.png"
    />
    <nav class="flex flex-row gap-x-10 opacity-80 font-bold">
        <a href="#top">Inicio</a>
        <a href="#about-me">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>
