<a
    class="border-gray-900 bg-secondary-color border rounded-full border-white/10 flex justify-center items-center py-1 px-2 gap-x-2 md:py-2 md:px-4 text-xs md:text-base hover:scale-110 hover:bg-accent-color dark:hover:bg-accent-color hover:text-dark-color transition"
    {...Astro.props}
    target="_blank"
    rel="noopener noreferer"
>
    <slot />
</a>
