---
const { href } = Astro.props;
---

<a
    target="_blank"
    href={href}
    role="link"
    class="inline-flex bg-secondary-color text-primary-color items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-secondary-color focus-visible:ring-yellow-500/80 text-md hover:bg-accent-color group max-w-fit rounded-xl hover:text-dark-color dark:hover:bg-accent-color hover:dark:text-dark-color focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black hover:scale-105"
>
    <slot />
</a>
